@import '../spinner/spinner.component.scss';

table {
    width: 100%;
}

a{
    margin-left: 1rem;
    font-size: 20px;
    color:blue;
    svg{
        display: inherit;
        margin-right: 0.5rem;
    }
    text-decoration: underline;
}

.detail-screen{
    >div{
        margin-left: auto;
        margin-right: auto;
        width: 50%;

        &.search-container{
            margin-top: 2rem;

            input{
                margin-bottom: 2rem;
            }
        }

        .btn-edit{
            &:hover{
                background-color: #315687;
            }
        }
        .btn-done{
            &:hover{
                background-color: #5fbf4e;
            }
        }
        .btn-remove{
            &:hover{
                background-color: #b33109;
            }
        }
    }
}

.cssload-speeding-wheel {
    position: relative;
    left: 0;
    width: 24px;
    height: 24px;
    margin: 0;
  }

.detail-description{
    max-width: 16rem;
}